<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
    	<li><a href="<%= new_profile_path %>" title=""><img src="<%= asset_path 'icons/control/32/plus.png' %>" alt=""><span>Créer un profil</span></a></li>
        <li><a href="<%= list_profiles_path %>" title=""><img src="<%= asset_path 'icons/control/32/order-149.png' %>" alt=""><span>Liste des profils</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
