<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Bonjour <%= @email %>, </h4>

    <p>
      Vous souhaitez réinitialiser le mot de passe de votre compte parieur Lonaci.
    </p>

    <p>
      Veuillez cliquer sur le lien suivant pour modifier votre mot de passe: <%= link_to "Modifier mon mot de passe", (Parameter.first.reset_password_url rescue "") + "/" + @reset_password_token %>
    </p>

    <p>
      A bientôt.
    </p>
  </body>
</html>
