Bonjour <%= @email %>,

Vous souhaitez réinitialiser le mot de passe de votre compte parieur Lonaci.

Veuillez cliquer sur le lien suivant pour modifier votre mot de passe: <a target = "_blank" href = "<%= @reset_password_url_url %>">Réinitialiser mon mot de passe</a>

A bientôt.
