<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Bonjour <%= @email %>, </h4>

    <p>
      Vous souhaitez réinitialiser le mot de passe de votre compte parieur Lonaci.
    </p>

    <p>
      Veuillez cliquer sur le lien suivant pour modifier votre mot de passe: <a target = "_blank" href = "<%= @reset_password_url %>">Réinitialiser mon mot de passe</a>
    </p>

    <p>
      A bientôt.
    </p>
  </body>
</html>
