<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Dashboard</h5>
            <span>Interface d'administration de la passerelle.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>
