<div class="statsRow">
    <div class="wrapper statsItems">

    	<!-- Stats item -->
        <div class="sItem ticketsStats">
            <h2><a title="" class="value"><%= @total_gamers %><span style = "color: grey">Joueurs inscrit (s)</span></a></h2>
        </div>

    	<!-- Stats item -->
        <div class="sItem ticketsStats">
            <h2><a title="" class="value"><%= @confirmed_accounts %><span style = "color: green">Compte(s) confirmé(s)</span></a></h2>
        </div>

    	<!-- Stats item -->
        <div class="sItem ticketsStats">
            <h2><a title="" class="value"><%= @unconfirmed_accounts %><span style = "color: red">Compte(s) en attente de confirmation</span></a></h2>
        </div>

</div>
