Cher(e) Mr/Mme <%= @firstname %> <%= @lastname %>,


Pour activer votre compte parieur LONACI, veuillez cliquer sur le lien suivant:

<a target = "_blank" href = "<%= @confirmation_url %>">Activer mon compte</a>

Si le lien ne s'ouvre pas automatiquement, veuillez le copier et le coller dans votre navigateur.

Merci d'avoir créé votre compte. JOUEZ, NOUS PARIONS QUE VOUS ALLEZ GAGNER!


L'équipe LONACI.
