Bonjour <%= @email %>,

Vous souhaitez créer un compte parieur Lonaci.

Veuillez cliquer sur le lien suivant pour activer votre compte: <a target = "_blank" href = "<%= @confirmation_url %>">Activer mon compte</a>

A bientôt.
